<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="FTPServer" value="10.96.0.114"/>
      <add key="FTPDestinationFolder" value="/imVision/Temp/"/>
      <add key="FTPLogin" value=""/>
      <add key="FTPPassword" value=""/>
      <add key="FTPDefaultPort" value=""/>
    </appSettings>
</configuration>